@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic);
.main-nav ul,
.footer .social-media,
.portfolio-list .table-of-contents ul,
.screenshot-list,
.resume .skills ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('http://s3.edendramis.com/fonts/1.3/icomoon.eot?v=4.1.0');
  src: url('http://s3.edendramis.com/fonts/1.3/icomoon.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('http://s3.edendramis.com/fonts/1.3/icomoon.woff?v=4.1.0') format('woff'), url('http://s3.edendramis.com/fonts/1.3/icomoon.ttf?v=4.1.0') format('truetype'), url('http://s3.edendramis.com/fonts/1.3/icomoon.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background-color: rgba(84, 178, 221, 0.5);
  text-shadow: none;
}
::selection {
  background-color: rgba(84, 178, 221, 0.5);
  text-shadow: none;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #333333;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: 300;
}
body {
  margin: 0;
  font-size: 16px;
}
header,
nav,
main {
  display: block;
}
a {
  background: transparent;
  color: #2b9fd3;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-tap-highlight-color: rgba(43, 159, 211, 0.3);
}
a:hover {
  color: #227fa9;
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: .75em 0;
  line-height: 1;
  font-weight: 300;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 21px;
}
code {
  font-size: 16px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
img {
  border: 0;
  vertical-align: middle;
}
.text-callout {
  color: #FB6E36;
  font-weight: normal;
}
@media print {
  .page-break {
    page-break-before: always;
  }
}
.thumbnail {
  display: block;
}
.thumbnail + .thumbnail {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .thumbnail {
    max-width: 300px;
    display: inline-block;
  }
  .thumbnail + .thumbnail {
    margin-top: 0;
  }
}
.thumbnail img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail-img {
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.sr-only,
.resume .contact dt,
.resume .job .job-details dt {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.icon-before::before {
  font-family: FontAwesome;
  margin-right: 6px;
  line-height: 100%;
  display: inline-block;
}
.icon-github::before {
  content: "\f09b";
}
.icon-linkedin::before {
  content: "\f08c";
}
.icon-portfolio::before {
  content: "\f0b1";
}
.icon-email::before {
  content: "\f0e0";
}
.icon-resume::before {
  content: "\f15c";
}
.breadcrumb {
  list-style-type: none;
  background-color: #f7f7f7;
  font-size: 14px;
  padding: 6px 12px;
  margin: 12px 0 36px;
  border: 1px solid #dddddd;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li::after {
  font-family: FontAwesome;
  margin-left: 12px;
  margin-right: 12px;
  content: "\f105";
  width: 5px;
  line-height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.breadcrumb li:last-child a {
  color: #333333;
}
.breadcrumb li:last-child::after {
  content: "";
  width: 0;
}
.toolbar-wrapper {
  background-color: #54B2DD;
  color: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .toolbar-wrapper {
    border-top-width: 2px;
    border-bottom-width: 6px;
  }
}
.toolbar {
  text-align: center;
}
@media (min-width: 768px) {
  .toolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.toolbar a {
  color: #fff;
}
.main-nav {
  font-size: 14px;
}
.main-nav ul {
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .main-nav ul {
    margin-bottom: 0;
  }
}
.main-nav li {
  display: inline-block;
}
.main-nav a {
  padding: 3px;
  display: block;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
@media (min-width: 768px) {
  .main-nav a {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.main-nav a span {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  display: block;
  padding: 1px 6px;
}
@media (min-width: 768px) {
  .main-nav a span {
    padding: 3px 9px;
  }
}
.main-nav a:hover span {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav a:active span,
.main-nav a:focus span,
.main-nav a.active span {
  background-color: rgba(255, 255, 255, 0.2);
}
.logo {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
}
.footer {
  border-top: 1px solid #dddddd;
  padding: 12px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.footer .social-media li {
  display: inline-block;
  margin-right: 24px;
}
.footer .social-media li::last-child {
  margin-right: 0;
}
.footer .social-media li a {
  display: block;
}
.footer .social-media li .icon-before::before {
  width: 16px;
}
.footer .social-media,
.footer .copyright {
  margin: 12px 0;
}
.page-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 768px) {
  .page-width {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .page-width {
    width: 944px;
  }
}
@media (min-width: 1200px) {
  .page-width {
    width: 1152px;
  }
}
.page-main {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .page-main {
    min-height: 400px;
  }
}
.page-title,
.resume .resume-header {
  margin-top: 24px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 24px;
}
.homepage .lead {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
}
@media (min-width: 768px) {
  .homepage .lead {
    font-size: 33px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.homepage .link-summary {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .homepage .link-summary {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.homepage .link-summary li {
  display: block;
  margin: 12px 0;
}
@media (min-width: 768px) {
  .homepage .link-summary li {
    display: inline-block;
  }
}
.homepage .link-summary li a {
  display: block;
  background-color: #2b9fd3;
  color: #fff;
  padding: 6px 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.homepage .link-summary li a:hover {
  background-color: #227fa9;
}
@media (min-width: 768px) {
  .homepage .link-summary li a {
    padding: 0 18px;
    background: transparent;
    color: #2b9fd3;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    -webkit-tap-highlight-color: rgba(43, 159, 211, 0.3);
  }
  .homepage .link-summary li a:hover {
    color: #227fa9;
    background: transparent;
  }
}
.homepage .link-summary .icon-before::before {
  position: relative;
  top: 1px
        width: 24px;
}
@media (min-width: 768px) {
  .portfolio-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.portfolio-list .table-of-contents {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.portfolio-list .table-of-contents li:first-child strong {
  margin-top: 0;
}
.portfolio-list .table-of-contents strong {
  margin-top: 12px;
  display: block;
}
.portfolio-list .table-of-contents a {
  display: block;
  font-size: 14px;
  padding: 0 24px 0 6px;
}
.portfolio-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.portfolio-section {
  border-top: 1px solid #DDD;
  padding-top: 24px;
  margin-bottom: 24px;
}
.portfolio-section .section-header {
  margin-bottom: 12px;
}
.portfolio-section:first-child {
  padding-top: 0;
  border: 0;
}
.portfolio-section:first-child .section-header {
  margin-top: 0;
}
.portfolio-section .meta-info {
  list-style-type: none;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  padding: 3px 12px;
}
.portfolio-section .meta-info li {
  display: block;
}
.portfolio-section .meta-info strong {
  margin-right: 6px;
  font-weight: 400;
}
.screenshot-list {
  overflow: hidden;
}
.screenshot-list::before,
.screenshot-list::after {
  content: " ";
  display: table;
}
.screenshot-list::after {
  clear: both;
}
.screenshot-list li {
  display: block;
  float: left;
  margin: 6px;
}
.screenshot-list a {
  display: block;
  background-repeat: no-repeat;
}
.rei-checkout.screenshot-list a {
  width: 385px;
  height: 243px;
  background-image: url('http://s3.edendramis.com/portfolio/rei-checkout/thumbs.png');
}
.rei-checkout.screenshot-list a.thumb2 {
  background-position: -385px 0;
}
.rei-checkout.screenshot-list a.thumb3 {
  background-position: -770px 0;
}
.rei-checkout.screenshot-list a.thumb4 {
  background-position: -1155px 0;
}
.heart-of-the-swarm.screenshot-list a {
  width: 200px;
  height: 200px;
  background-image: url('http://s3.edendramis.com/portfolio/heart-of-the-swarm/thumbs.jpg');
  background-size: 600px 400px;
}
.heart-of-the-swarm.screenshot-list a.thumb2 {
  background-position: -200px 0;
}
.heart-of-the-swarm.screenshot-list a.thumb3 {
  background-position: -400px 0;
}
.heart-of-the-swarm.screenshot-list a.thumb4 {
  background-position: 0 -200px;
}
.heart-of-the-swarm.screenshot-list a.thumb5 {
  background-position: -200px -200px;
}
.heart-of-the-swarm.screenshot-list a.thumb6 {
  background-position: -400px -200px;
}
.cap-intro.screenshot-list a {
  width: 400px;
  height: 282px;
  background-image: url('http://s3.edendramis.com/portfolio/cap-intro/thumb.jpg');
  background-size: contain;
}
.blizzard-20th.screenshot-list a {
  width: 400px;
  height: 400px;
  background-image: url('http://s3.edendramis.com/portfolio/blizzard-20th/thumbs.jpg');
}
.blizzard-20th.screenshot-list a.thumb2 {
  background-position: -400px 0;
}
.bourbon.screenshot-list a {
  width: 400px;
  height: 300px;
  background-image: url('http://s3.edendramis.com/portfolio/bourbon/bourbon1-thumb.jpg');
}
.fmpp.screenshot-list a {
  width: 400px;
  height: 359px;
  background-image: url('http://s3.edendramis.com/portfolio/fmpp/fmpp-thumbs.jpg');
}
.screenshot-list a.thumb2 {
  background-position: -400px 0;
}
.screenshot-list a.thumb3 {
  background-position: -800px 0;
}
.screenshot-list a.thumb4 {
  background-position: -1200px 0;
}
@media print {
  body {
    font-size: 12px;
  }
}
@media print {
  .resume .page-main {
    padding-top: 0;
  }
}
.resume .toolbar-wrapper,
.resume .breadcrumb,
.resume .footer {
  display: none;
}
.resume .resume-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media print, (max-width: 767px) {
  .resume .resume-header {
    margin-top: 0;
    border: 0;
    padding-bottom: 0;
  }
}
.resume .resume-header .page-title {
  padding: 0;
  margin: 0;
  border: 0;
}
@media (min-width: 768px) {
  .resume .resume-header .page-title {
    font-size: 45px;
  }
}
.resume .lead {
  font-size: 18px;
  margin: 1.5em 0;
}
@media print, (max-width: 767px) {
  .resume .lead {
    font-size: 14px;
    margin: 1em 0;
  }
}
.resume .resume-section .section-header {
  font-size: 21px;
  border-left: 3px solid #2b9fd3;
  padding-left: 6px;
}
@media (min-width: 768px) {
  .resume .resume-section .section-header {
    font-size: 30px;
  }
}
@media print {
  .resume .resume-section .section-header {
    font-size: 21px;
  }
}
.resume .contact {
  margin: 0;
  padding-top: 24px;
}
.resume .contact::before,
.resume .contact::after {
  content: " ";
  display: table;
}
.resume .contact::after {
  clear: both;
}
@media print {
  .resume .contact {
    padding-top: 6px;
  }
}
.resume .contact dd {
  margin: 0;
}
@media print, (min-width: 768px) {
  .resume .contact dd {
    float: left;
    margin-right: 6px;
  }
  .resume .contact dd::after {
    content: "·";
    margin-left: 6px;
  }
  .resume .contact dd:last-child {
    margin-right: 0;
  }
  .resume .contact dd:last-child::after {
    content: "";
    margin-left: 0;
  }
}
.resume .skills dt {
  font-weight: 400;
  margin-top: 9px;
}
@media print, (max-width: 767px) {
  .resume .skills dt {
    margin-top: 0;
    float: left;
    margin-right: 6px;
  }
}
.resume .skills ul li {
  display: inline-block;
  margin-right: 6px;
}
.resume .skills ul li::after {
  content: ", ";
}
.resume .skills ul li:last-child {
  padding-right: 0;
}
.resume .skills ul li:last-child::after {
  content: "";
}
.resume .job,
.resume .project {
  margin-bottom: 24px;
}
.resume .job .job-title,
.resume .project .project-title {
  font-size: 24px;
  margin-bottom: 9px;
}
@media print, (max-width: 767px) {
  .resume .job .job-title,
  .resume .project .project-title {
    font-size: 18px;
  }
}
.resume .job .job-details {
  margin-top: 0;
  line-height: 1;
}
.resume .job .job-details::before,
.resume .job .job-details::after {
  content: " ";
  display: table;
}
.resume .job .job-details::after {
  clear: both;
}
.resume .job .job-details dd {
  margin: 0;
  float: left;
}
.resume .job .job-details dd:first-of-type {
  border-right: 1px solid #dddddd;
  padding-right: 6px;
  margin-right: 6px;
}
.resume .job .responsibilities,
.resume .project ul {
  list-style-type: circle;
}
@media print, (max-width: 767px) {
  .resume .job .responsibilities,
  .resume .project ul {
    padding-left: 16px;
  }
}
.resume .project a {
  display: block;
}
